$light: #fff;
$primary-color: #A41214;
$secondary-color: #B79455;
$base-color:#070603;
$inverted-color:#fcfcfc;
$title-color:#070603;
$black:#222;
$gray:#eff0f3;
$secondary-bg:#f4f4f4;
$border-color:#fafafa;
$primary-font: 'Exo', sans-serif;
$secondary-font:'Roboto', sans-serif;

$grad-color:linear-gradient(to bottom,#05a5f9,#10dab7);
// B79455
